.flex-container{
    display: flex;
}

.flex-item{
    width: 200px;
    width: 150px;

    background: rgb(9, 88, 9);
    color: white;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    line-height: 100px ;
}